html{
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(./assets/modalOverlayImage.jpg);
  
}
body {
  margin: 0;
  font-family: 'Abel', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#373d4754, #0c0d0fb6)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
